<%- content_for :js do %>
$(document).ready(function() {
  $(".nav-tabs").tab();
});
<%- end %>

<div class="container">

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#approved" aria-controls="approved" role="tab" 
        data-toggle="tab">Upcoming</a>
    </li>
    <li role="presentation"><a href="#unapproved" aria-controls="unapproved" 
        role="tab" data-toggle="tab">Awaiting approval (<%= @appointments.unapproved.count %>)</a>
    </li>
    <li role="presentation"><a href="#archived" aria-controls="archived" 
        role="tab" data-toggle="tab">History (<%= Appointment.archived.count %>)</a>
    </li>
  </ul>

  <div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="approved">
      <%- if @appointments.current.approved.none? %>
        <h2>You have no approved appointments yet</h2>
        <p>Click the Unapproved tab to see your appointment suggestions. 
        Once they are approved they will show up here!</p>
      <%- else %>
      <h2>Upcoming appointments with Jim</h2>
    <%- end %>
      <div class="row">
        <div class="col-md-12">
          <ul id="agenda" class="accepted-list list-unstyled">
            <%= render partial: 'appointment', collection: @appointments.approved %>
          </ul>
        </div>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="unapproved">
      <h2>Requests awaiting approval</h2>
      <div class="row">
        <div class="col-md-12">
          <ul id="agenda" class="unapproved-list list-unstyled">
            <%= render partial: 'appointment', collection: @appointments.unapproved %>
          </ul>
        </div>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="archived">
      <h2>Your appointment history</h2>
      <div class="row">
        <div class="col-md-12">
          <ul id="agenda" class="archived-list list-unstyled">
            <%= render partial: 'appointment', collection: @appointments.archived %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
