<strong><%= appointment.customer.name %></strong>
<span class="hidden-xs">requests a time of</span>
<strong><%= local_time(appointment.suggested_start_at) %></strong>
<span class="pull-right right-link">
  <%= link_to instructors_approvals_path(appointment_id: appointment.id), method: :post do %>
    <%= glyph("ok_circle", {:tag => :span}) %>
  <% end %>
  <%= link_to "#" do %>
    <%= glyph("calendar", {:tag => :span}) %>
  <% end %>
</span>
