<%- content_for :js do %>
$(document).ready(function() {
  $(".nav-tabs").tab();
});
<%- end %>

<div class="container">

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#approved" aria-controls="approved" role="tab" 
                                                   data-toggle="tab">Upcoming (<%= @appointments.approved.length %>)</a>
    </li>
    <li role="presentation"><a href="#unapproved" aria-controls="unapproved" 
        role="tab" data-toggle="tab">Requests waiting (<%= @appointments.unapproved.length %>)</a>
    </li>
    <li role="presentation"><a href="#rejected" aria-controls="rejected" 
        role="tab" data-toggle="tab">Rejected (<%= @appointments.rejected.length %>)</a>
    </li>
    <li role="presentation"><a href="#archived" aria-controls="archived" 
        role="tab" data-toggle="tab">History (<%= Appointment.archived.length %>)</a>
    </li>
  </ul>

  <div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="approved">
      <h2>Your upcoming appointments</h2>
      <div class="row">
        <div class="col-md-12">
          <ul id="agenda" class="accepted-list list-unstyled">
            <%= render partial: 'appointment', collection: @appointments.approved %>
          </ul>
        </div>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="unapproved">
      <h2>Appointment requests</h2>
      <div class="row">
        <div class="col-md-12">
          <ul id="agenda" class="unapproved-list list-unstyled">
            <%= render partial: 'appointment', collection: @appointments.unapproved %>
          </ul>
        </div>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="rejected">
      <h2>Rejected requests</h2>
      <div class="row">
        <div class="col-md-12">
          <ul id="agenda" class="rejected-list list-unstyled">
            <%= render partial: 'appointment', collection: @appointments.rejected %>
          </ul>
        </div>
      </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="archived">
      <h2>Service history</h2>
      <div class="row">
        <div class="col-md-12">
          <ul id="agenda" class="archived-list list-unstyled">
            <%= render partial: 'appointment', collection: @appointments.archived %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
