<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/head' %>

  <body>
    <%= render 'layouts/customer_menu' %>

    <div class="container main fill">
      <%= yield %>
    </div>

    <div id="currentUserId">
      <%= current_customer.try(:id) %>
    </div>

    <%= javascript_include_tag "application" %>
    <%- if content_for?(:js) %>
      <script><%= yield(:js) %></script>
    <%- end %>
  </body>
</html>
